.menu-items {
    float: left;
    cursor: pointer;
    color: white;
    padding: 15px 30px;
    margin-left: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1.9), 0 6px 20px 0 rgba(0, 0, 0, 1.19);
    font-family: 'Monomaniac One', sans-serif;
    background-color: #121212;
}

.menus {
    margin-left: 20%;
}


/* .menu-items:hover {
    background-color: #0abb92;
    color: black;
    transition: 0.5s;
} */

.nav {
    width: 100%;
    position: fixed;
    height: 70px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 100;
    background-color: #121212;
}

.nav-title {
    margin-left: 45%;
    position: absolute;
    color: #0abb92;
    cursor: default;
    margin-top: 35px;
    font-family: 'Monomaniac One', sans-serif;
}

.ico-items {
    font-size: 40px;
    padding: 10px;
    border-radius: 2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: gray;
    cursor: pointer;
}

.ico-items:hover {
    transition: 0.7s;
    box-shadow: 0 4px 8px 0 rgb(10, 187, 146), 0px 0px 60px 0px rgb(10, 187, 146);
    color: #0abb92;
    border-radius: 5px;
}

.nav-items {
    cursor: pointer;
    color: white;
    font-family: 'Monomaniac One', sans-serif;
}

.nav-items:hover {
    color: #0abb92;
    transition: 0.5s;
}

.aboutme-p {
    color: white;
    font-family: 'Tsukimi Rounded', sans-serif;
}

.tits {
    font-family: 'Monomaniac One', sans-serif;
    color: white;
    cursor: default;
}

.li-box {
    float: left;
    padding: 10px 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1.9), 0 6px 20px 0 rgba(0, 0, 0, 1.19);
    border-radius: 5px;
    color: white;
    font-family: 'Monomaniac One', sans-serif;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 2%;
    cursor: default;
}

.re-li-box {
    float: left;
    padding: 10px 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1.9), 0 6px 20px 0 rgba(0, 0, 0, 1.19);
    border-radius: 5px;
    color: black;
    background-color: #0abb92;
    font-family: 'Monomaniac One', sans-serif;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 2%;
    cursor: default;
}

.skills-part {
    float: left;
}

.banner-box {
    box-shadow: 0 4px 8px 0 rgb(10, 187, 146), 0px 0px 60px 0px rgb(10, 187, 146);
    padding: 20px 30px;
    border-radius: 10px;
    color: #0abb92;
    font-family: 'Monomaniac One', sans-serif;
    cursor: default;
}

@media only screen and (max-width: 600px) {
    .tits {
        margin-left: 10px;
    }
}


/* ================================================== [Project file CSS] ======================================== */

.card-holder {
    float: left;
    width: 350px;
    height: 300px;
    background-color: #121212;
    margin-left: 20px;
    margin-top: 10px;
    text-align: center;
    margin-right: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-holder:hover {
    transition: 0.7s;
    box-shadow: 0 4px 8px 0 rgb(10, 187, 146), 0px 0px 60px 0px rgb(10, 187, 146);
}

.card-img {
    width: 100%;
}

.img-text {
    position: absolute;
    padding: 5px 10px;
    color: white;
    border-radius: 5px;
    margin: 5px 5px;
    background-color: #121212;
    font-size: 40px;
}

.getin-btn {
    padding: 10px 60px;
    outline-style: none;
    border-style: none;
    font-size: medium;
    font-weight: 400;
    font-family: 'Monomaniac One', sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 7px;
}

.project-title {
    font-family: 'Monomaniac One', sans-serif;
    color: white;
    cursor: default;
}